@import "../variables.scss";

.Skills {
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  .Title {
    text-transform: uppercase;
    opacity: 0.6;
    margin-bottom: 12px;
  }

  .SkillList > div {
    margin: 24px 0;
  }

  .OtherSkills {
    width: 80vw;
    max-width: 500px;
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    & > .Tag {
      margin: 6px;
    }
  }
}

@supports (-webkit-appearance: none) {
  html.os-android {
    .Skills {
      height: calc(100vh - 56px);
      min-height: calc(100vh - 56px);
    }
  }
}
