// Dark
$bgColor: #202327;
$bgColorContrast: #3b3d40;

$brandPrimary: #4883f2;
$brandInfo: #5fa4f6;
$brandSuccess: #6dcf70;
$brandWarning: #f6c842;
$brandDanger: #fd6151;

$brandPrimaryTextColor: #fff;
$brandInfoTextColor: #fff;
$brandSuccessTextColor: #fff;
$brandWarningTextColor: #202327;
$brandDangerTextColor: #fff;

$textColor: #fff;

$buttonBorderColor: #707173;

// Light
$bgColorLight: #f1f3f6;
$bgColorContrastLight: #dedede;

$brandPrimaryLight: #4883f2;
$brandInfoLight: #5fa4f6;
$brandSuccessLight: #6dcf70;
$brandWarningLight: #f6c842;
$brandDangerLight: #fd6151;

$brandPrimaryTextColorLight: #fff;
$brandInfoTextColorLight: #fff;
$brandSuccessTextColorLight: #fff;
$brandWarningTextColorLight: #202327;
$brandDangerTextColorLight: #fff;

$textColorLight: #2a2c30;

$buttonBorderColorLight: #868686;
